
.banners
    @extends .padding-zero
.img-back-leort
    @extends .back-contain
    background-image: url('../img/background-topo.png')
    background-repeat: no-repeat
    background-position: center center

.bg-imagem-tec
    @extends .back-cover
    background-image: url('../img/background-meio.png')
.back-acoes
    @extends .back-cover
    background-image: url('../img/background-moleculas.png')
    background-repeat: no-repeat;
    background-position: center center;
#c-banner
    padding-top: 80px;
    z-index: 999;
    position: relative;
.caixa-leort
    position: absolute
    z-index 3
    margin-left: -180px
    
.bandeira
    @extends .absolute
    bottom: -30px
    left 0
    z-index 9999
.section
    padding 120px 0
.leort-desc
    box-shadow: 0px 4px 1px $shadow-color
.marca-desc
    margin-top: 10px
    margin-bottom: 30px


.text-leort
    margin-top: 130px

.seta-left
.seta-right
    position absolute
    top 50%
    cursor pointer
    z-index 99
.seta-left
    left -70px
.seta-right
    right -70px

.line-gold
    width: 100%
    height 1px
    background-image: url(../img/linha-dourada.png)
.line-small
    background-image: url(../img/linha-dourada.png)
    background-position: center center
    background-size: contain
    height 2px
.line-h3
    @extends .line-small
    max-width 450px
    height 3px
.line-width
    max-width 150px;
    margin: auto
    height 2px
    background-image: url(../img/linha-dourada.png)
    background-position: center center
    background-size: contain

.line-width-big
    width: 400px;
    height 2px
    background-image: url(../img/linha-dourada.png)

.arrowsPlace
    width: 120px
    height 40px;
    position relative
    right 0
    float right 

#leort
    margin-top 100px
    .unico
        font-size: 40px

#acoes
    padding-top 80px


.marca
    font-weight: 500
    color: $colors['verde-bm']


.cursos-todos
    padding 30px 5px

.bottom-line
    z-index 9
    position relative
    margin-top -40px

@media screen and (max-width: $queries['large'])
    .text-leort
        margin-top: 0px
    .bandeira
        max-width 320px
        bottom: -40px

@media screen and (max-width: $queries['medium'])
    #leort
        margin-top 50px
        margin-bottom: 0
    #acoes
        margin-top 50px
    .img-back-leort
        text-align: center

    img.leort-banner1
        margin auto
    #c-banner
        padding-top 20px        
    .text-leort
        margin-top: 20px

    .leort-banner1
        margin 0 0 0 0
    .img-back-leort
        img 
            max-width 300px
    .seta-left
        left 0
    .seta-right
        right 0

@media screen and (max-width: $queries['small'])
    //tetste
    .item-c
        h1
        p 
            text-align: center
        p 
            font-size: 18px
            line-height: 1.2
            margin-bottom: 10px
        .text-banner
            img
                margin: auto
@media screen and (max-width: 390px)
    .bandeira
        bottom: -20px
        max-width 280px
        