
#topo
    @extends .absolute

.banners
    @extends .padding-zero
.img-back-leort
    @extends .back-contain
    background-image: url('../img/background-topo.jpg')
.bg-imagem-tec
    @extends .back-cover
    background-image: url('../img/background-meio.png')
.back-acoes
    @extends .back-cover
    background-image: url('../img/background-moleculas.png')
#c-banner
    padding-top 80px
.caixa-leort
    position: absolute
    z-index 3
    margin-left: -180px
    
.bandeira
    @extends .absolute
    bottom: -30px
    left 0
    z-index 3
.section
    padding 120px 0
.leort-desc
    box-shadow: 0px 4px 1px $shadow-color

img.leort-banner1
    margin -20px -40px -40px 100px

.text-leort
    margin-top: 130px


.line-gold
    width: 100%
    height 1px
    background-image: url(../img/linha-dourada.png)


.arrowsPlace
    width: 120px
    height 40px;
    position relative
    right 0
    float right 

.cursos-todos
    padding 30px 5px



@media screen and (max-width: $queries['medium'])
    #c-banner
        padding-top 20px        
    .text-leort
        margin-top: 50px

    .leort-banner1
        margin 0 0 0 60px
    .bandeira
        max-width 350px

        