header
	height: auto
	background-image: url(../img/back-topo.jpg)
	background-repeat: repeat-x
	padding 30px 0
	

.logo-container
	padding: 15px 0

#topo.redu
	background-color:alpha(black, 95%);

footer
	@extend .text-inverse
	p 
		@extend .light


.rede-sociais-face
	padding-right: 10px
