.display-menu
    display: flex
    justify-content: flex-end
    li
        list-style: none
        text-transform: uppercase
        margin-right: 50px
        padding-top: 8px;
        a
            text-decoration: none
            color: $colors['cinza']
            transition: .3s
            &:hover
                color: $colors['verde-bm']
                font-weight: bold
            &.ativo
               color: $colors['verde-bm']
               font-weight: bold
            
            




