meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta( property="og:title", content="LEORT® É VIDA!")
meta(property="og:description", content="Atua como um potente anti-inflamatório, antioxidante e varredor de radicais livres, toxinas e metais pesados, eliminando o ranço celular acumulado.")
meta(property="og:image" content="http://leort.happybiz.com.br/img/leort-profissional.png")

meta( property="twitter:title", content="LEORT® É VIDA!")
meta(property="twitter:description", content="Atua como um potente anti-inflamatório, antioxidante e varredor de radicais livres, toxinas e metais pesados, eliminando o ranço celular acumulado.")

meta(name="description" content="")


