extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    .line-gold
        canvas#brilho.absolute
    section#banners.relative
        img.bandeira(src="img/bm-bandeira.png", alt="Bothanica Mineral")
        .container
            .row
                .col-sm-12                    
                    #c-banner
                        .row.item-c
                            .col-sm-6.text-leort
                                h1 
                                    span.bold.text-verde LEORT® 
                                    | é único:
                                p.font-extra-large Melhora a aparência,
                                    | ajuda a diminuir medidas
                                    | e ainda combate todas
                                    | as disfunções da pele.
                                p.font-extra-large #SegredosBM
                            .col-sm-6.img-back-leort
                                img.img-responsive.img.leort-banner1(src="img/leort-solo.png", alt="") 
                        .row.item-c
                            .col-sm-5.col-md-.col-md-push-7.text-banner
                                h1 
                                    span.text-verde.text-uppercase 3 ações:
                                p.font-extra-large
                                    span.bold 1. ORTOMOLECULAR <BR>
                                    span.hidden-xs Destoxificante, antioxidante e reorganizador.
                                p.font-extra-large
                                    span.bold 2. LINFOCINÉTICO  <BR>
                                    span.hidden-xs Drenagem Linfática, aumento da  permeabilidade 
                                                    | vascular e trocas nos capilares, aumento da oxigenação e nutrição e aumento no número de células de defesa 
                                p.font-extra-large
                                    span.bold 3. LIPOLÍTICO  <BR>
                                    span.hidden-xs Quebra da gordura, acelerador, efeito bipolar e gordura emulsionada.
                                p.font-extra-large
                                    img(src="img/ICONES-PRODUTOS.png", alt="Icones Leort")
                            .col-sm-7.col-md-7.col-md-pull-5.img-back-leort(style="background-image:url(img/background-leort.png)")
                                img.img-responsive.img.leort-banner1(src="img/leort-profissional.png", alt="") 

                            

    .line-gold.bottom-line

    section#leort.pd-80-top
        .container
            .row
                .col-sm-9.col-sm-offset-1.leort-desc
                    .line-gold
                    h1.text-center 
                        span.bold.text-verde LEORT® 
                        |É VIDA!
                    
                    .line-width
                    
                    h4.bold.text-center Fluido para massagem corporal
                    p Atua como um potente anti-inflamatório, antioxidante e varredor de radicais livres, toxinas e metais pesados, 
                        | eliminando o ranço celular acumulado. Promove uma destoxificação do organismo, auxiliando no combate da celulite 
                        | e outras disfunções estéticas. Tem ação lipolítica e afinidade pelos adipócitos, ativando os complexos enzimáticos que promovem a quebra da gordura de reserva e aumento do metabolismo. Possui também a função de reparação e construção dos tecidos e estrutura da pele, atuando no combate da flacidez e estrias. Aumenta a permeação dos ativos de outros produtos da linha Bothanica Mineral® quando utilizados em associação, potencializando os resultados dos tratamentos. 
                    .line-gold


    section#acoes.back-acoes
        .container
            .row
                .col-sm-10.col-sm-offset-1
                    
                    h1 3 ações principais:                    
                    .list-acoes
                        h3.bold ORTOMOLECULAR
                        ul
                            li Destoxificante: pela eliminação das toxinas, metais pesados e de todo o ranço celular.
                            li Antioxidante: pela neutralização e eliminação de radicais livres, prevenindo o envelhecimento precoce e outros danos celulares .
                            li Reorganizador: pela capacidade de equilibrar desde as menores estruturas corporais, os átomos, 
                                |promove reestruturação de todas as substâncias que são formadas a partir destes, ou seja, moléculas, células, tecidos, órgãos, 
                                |sistemas. 
                    .list-acoes
                        h3.bold LINFOCINÉTICO
                        ul
                            li Drenagem Linfática: por consequência do aumento das trocas metabólicas capilares, ocorre o efeito linfocinético pelo aumento da 
                                |pressão osmótica tecidual, o que favorece o envio do líquido intersticial para o sistema linfático. Isso aumenta a drenagem tecidual, 
                                |promovendo descongestionamento e equilíbrio da homeostase celular.
                            li Aumento da permeabilidade vascular e trocas nos capilares: o aumento de circulação local favorece o retorno venoso e as trocas de 
                                |substâncias pelos capilares, pela chegada de sangue rico em nutrientes e retirada de todos os resíduos metabólicos do tecido.  
                            li Consequente aumento da oxigenação e nutrição: com o aumento das trocas capilares há aumento na chegada de nutrientes e de oxigênio em 
                                |locais que antes não estavam sendo bem irrigados.  
                            li Aumenta o número de células de defesa (local): a melhora na circulação  e nas trocas capilares permite o transporte de células de 
                                |defesa para os locais que antes estavam desprotegidos.
                    .list-acoes
                        h3.bold LIPOLÍTICO
                        ul
                            li Quebra da gordura: o produto vai ativar os complexos enzimáticos que promovem a quebra da gordura de reserva. Essa gordura é o 
                                |triglicerídeo que vai ser quebrado formando 3 ácidos graxos e 1 glicerol. Essas substâncias serão metabolizadas e os resíduos 
                                |eliminados pelas secreções. Diga-se os resíduos/toxinas, pois a gordura deverá ser queimada.
                            li Acelerador: LEORT estimula e acelera o processo de lipólise, apresentando um efeito enzimático. O processo de quebra vai ocorrer de 
                                |forma natural, porém acelerada.  
                            li Efeito bipolar: termogênico ou criogênico, dependendo dos produtos associados - aumento do metabolismo basal: promove aquecimento 
                                |(efeito termogênico) ou resfriamento (efeito criogênico) local e, consequentemente, estimula o metabolismo a recuperar a temperatura 
                                |ideal, esse efeito tem um gasto calórico.   
                            li Gordura emulsionada: após a lipólise o triglicerídeo será quebrado e os resíduos emulsionados dentro do adipócito. Esta emulsificação 
                                |gera incompatibilidade, forçando a saída desses resíduos da célula adiposa.



    .line-gold
    section#imagem.bg-imagem-tec
        .container
            .row
                .col-sm-6
                .col-sm-6
                    img.img-responsive(src="img/mulher.png", alt="") 

    .line-gold
    section#depoimentos.section.back-acoes
        .container
            .row
                h1.text-center.bold.text-verde.pd-80-bottom Depoimentos
                .col-sm-8.col-sm-offset-2.relative
                    .caixa-leort.visible-lg
                        img(src="img/leort-caixa-depoimentos.png", alt="leort")
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0", frameborder="0", allowfullscreen)


    // objetos não visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")







block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


