extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    section#banners.bg-light-gray.relative
        img.bandeira(src="img/bm-bandeira.png", alt="Bothanica Mineral")
        .container
            .row
                .col-sm-12                    
                    #c-banner
                        .row.item-c
                            .col-sm-6.text-leort
                                h1 
                                    span.bold.text-verde LEORT® 
                                    | é único:
                                p.font-extra-large Melhora a aparência,
                                    | ajuda a diminuir medidas
                                    | e ainda combate todas
                                    | as disfunções da pele.
                                p.font-extra-large #SegredosBM
                            .col-sm-6.img-back-leort
                                img.img-responsive.img.leort-banner1(src="img/leort-solo.png", alt="")                              

    .line-gold.mg-40-bottom

    section#leort.pd-80-top
        .container
            .row
                .col-sm-9.col-sm-offset-1.leort-desc
                    .line-gold
                    h2.text-center Leort
                    h4.text-center Fluido para massagem corporal
                    p Atua como um potente anti-inflamatório, antioxidante e varredor de radicais livres, toxinas e metais pesados, 
                        | eliminando o ranço celular acumulado. Promove uma destoxificação do organismo, auxiliando no combate da celulite 
                        | e outras disfunções estéticas. Tem ação lipolítica e afinidade pelos adipócitos, ativando os complexos enzimáticos que promovem a quebra da gordura de reserva e aumento do metabolismo. Possui também a função de reparação e construção dos tecidos e estrutura da pele, atuando no combate da flacidez e estrias. Aumenta a permeação dos ativos de outros produtos da linha Bothanica Mineral® quando utilizados em associação, potencializando os resultados dos tratamentos. 
                    .line-gold


    section#acoes.back-acoes
        .container
            .row
                .col-sm-10.col-sm-offset-1
                    
                    h1 3 ações principais:
                    each i in [1,2,3,4,5]
                        .list-acoes
                            h3 ORTOMOLECULAR
                            ul
                                li Destoxificante: pela eliminação das toxinas, metais pesados e de todo o ranço celular.
                                li Antioxidante: pela neutralização e eliminação de radicais livres, prevenindo o envelhecimento precoce e outros danos celulares .
                                li Reorganizador: pela capacidade de equilibrar desde as menores estruturas corporais, os átomos, promove reestruturação de todas as substâncias que são formadas a partir destes, ou seja, moléculas, células, tecidos, órgãos, sistemas. 






    section#imagem.back-acoes
        .container
            .row
                .col-sm-6
                .col-sm-6
                    img.img-responsive(src="img/mulher.png", alt="") 



    section#depoimentos.section.bg-imagem-tec
        .container
            .row
                h1.text-center.bold.text-verde.pd-40-bottom Depoimentos
                .col-sm-8.col-sm-offset-2.relative
                    .caixa-leort
                        img(src="img/leort-caixa-depoimentos.png", srcset="")
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0", frameborder="0", allowfullscreen)










block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


